# Database
DB_TYPE=mysql
MYSQL_URL=mysql+pymysql://user:password@localhost:3306/medical_db
POSTGRES_URL=postgresql://user:password@localhost:5432/medical_db

# App
APP_HOST=0.0.0.0
APP_PORT=8000
DEBUG=False

# Paths
DATA_PATH=./data
FAISS_INDEX_PATH=./faiss_index
PDF_PATH=./data/pdf
CSV_PATH=./data/csv

# Models
EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2
LLM_MODEL=google/flan-t5-base
WHISPER_MODEL=base
